body,html{
    padding:0;
    margin: 0;
    user-select: none;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #333333 0%,#222222 100%);
}
body{color:#bbb;font-family:sans-serif;font-weight:600;}
@keyframes slideRight{
0% {transform: translatex(-100%);opacity:0;}
100% {transform: translatex(0%);opacity:1;}
}
#pause,#menu {height: 100%;}
#menu {
    width: 10em;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 75%,rgba(0, 0, 0, 0.2) 86%,rgba(134, 134, 134, 0.2) 100%);
    text-align: center;
    transform: rotate(4deg);
    padding: 100px 0 100px 100px;
    position: relative;
    top: -80px;
    left: -100px;
}
#menu > li {
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0;

    transform: translatex(-100%);opacity:0;
    transition: all .1s ease-in;
    animation: slideRight 0.6s;
    animation-fill-mode: forwards;

    list-style-type: none;
    cursor: pointer;
}

#menu > li:hover {
    color: #FFF;
    transition: none;
}

#content {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 150px);

    box-shadow: #666 0 0 40px;

    opacity: 0;
    transform: rotate(6deg);
}

#content.active{
    transition: all 0.5s ease-out;
}

#content.visible{
    opacity: 1;
    transform: rotate(0);
}

#content .content-header{
    margin-left: 20px;
}

#content button{
    padding: 10px 25px;

    border: 2px solid #888;
    background-color: #333;

    cursor: pointer;
    font-size: 1em;
    color: #bbb;
    outline: none;

    opacity: 1;
    transition: opacity 0.2s;
}

#content button:hover{
    opacity: 0.5;
}

#content .back{
    position: absolute;
    left: 0;
    bottom: 0;

    border-width: 2px 2px 0 0;
    border-radius: 0 10px 0 0;
}
#content .apply{
    position: absolute;
    right: 0;
    bottom: 0;
    border-width: 2px 0 0 2px;
    border-radius: 10px 0 0 0;
}

#content .content-body{
    margin: 10px 20px;
}

#content .content-body .slider input{
    -webkit-appearance: none;
    width: 80%;
    margin: 0 10%;
    box-sizing: border-box;

    cursor: pointer;
}

#content .content-body .slider input::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #555;
    border: none;
}

#content .content-body .slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    margin-top: -4px;

    border-radius: 50%;
    background-color: #888;
    box-shadow: #aaa 0 0 8px;
}

#content .content-body .slider input:focus {
    outline: none;
}


#content .content-body .slider ul{
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    padding: 0;
}


#content .content-body .slider li{
    flex: 1 1 0;
    text-align: center;
}